{% extends 'resumes/base.html' %}

{% block content %}
    <div class="jumbotron" >
        <h1 class="display-4" > WORK EXPERIENCE </h1>
    </div>

    <div class="shadow-none p-3 mb-5 bg-light rounded">
        <div class="jumbotron">
            <h3> ELECTRICAL ENGINEERING INTERN, TOPTECH ENGINEERING LTD, LAGOS </h3>
            <p class="lead">May 2017 – Dec 2017</p>
            <hr class="my-4">
            <div class="card" style="width: 18rem;">
              <div class="card-header">
                <h4>ACHIEVEMENTS</h4>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Designed as many as 20 power distribution systems for buildings </li>
                <li class="list-group-item">Construction of several types of distribution and control panelsfor
                    commercial and industrial usage </li>
                <li class="list-group-item">Technical report writing: Wrote technical reports for as many as 10
                    projects. </li>
                <li class="list-group-item">Maintenance and Repair of Automatic Voltage Regulators:Repaired
                    and did maintenance for more than 50 machines </li>
                
              </ul>
            </div>
          </div>  
    </div>

    <div class="shadow-none p-3 mb-5 bg-light rounded">
        <div class="jumbotron">
            <h3> YOUTH CORPS MEMBER, TOPTECH ENGINEERING LTD, LAGOS </h3>
            <p class="lead">May 2017 – Dec 2017</p>
            <hr class="my-4">
            <div class="card" style="width: 18rem;">
              <div class="card-header">
                <h4>ACHIEVEMENTS</h4>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Designed several power distribution systems for buildings </li>
                <li class="list-group-item"> Construction of several types of distribution and control panelsfor
                    commercial and industrial usage </li>
                <li class="list-group-item"> Technical report writing: Took charge of technical report writing
                    duties for my department </li>
                <li class="list-group-item"> Maintenance and Repair of Automatic Voltage Regulators:Repaired
                    and did maintenance for several machines </li>
                
              </ul>
            </div>
          </div>  
    </div>

{% endblock %}