{% extends 'resumes/base.html' %}

{% block content %}
<div class="jumbotron" >
    <h1 class="display-4" > EDUCATIONAL HISTORY </h1>
</div>


<div class="shadow-none p-3 mb-5 bg-light rounded">
    <div class="jumbotron">
        <h3> UNIVERSITY OF LAGOS, , B.Sc. ELECTRICAL AND ELECTRONICS ENGINEERING </h3>
        <p class="lead">Jan 2014 - Oct 2018 </p>
        <hr class="my-4">
        <div class="card" style="width: 18rem;">
          <div class="card-header">
            <h4>RELEVANT COURSES</h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"> Computer programming languages </li>
            <li class="list-group-item"> Electrical circuit design and synthesis </li>
            <li class="list-group-item"> Modern communication systems </li>
            <li class="list-group-item"> Technical report writing </li>
            
          </ul>
        </div>
      </div>  
</div>

<div class="shadow-none p-3 mb-5 bg-light rounded">
    <div class="jumbotron">
        <h3> PARTICIPANT, ZURI X I4G TRAINING </h3>
        <p class="lead">Feb 2021 - Jul 2021 </p>
        <hr class="my-4">
        
            An online programming training program sponsored by Ingressive For Good whose purpose is to provide young
Nigerians with the skills needed to move into the tech space across the African continent. The program covers
different parts of tech from back-end web development up to mobile development. My training during the program
was focused on back-end web development specifically python in conjunction with the django framework. You can visit them <a href="https//:zuri.training.com" >here </a> 


        

    
      </div>  
</div>
{% endblock %}