{% extends 'resumes/base.html' %}

{% block content %}
<div class="jumbotron" >
    <h1 class="display-4" > HOBBIES/INTERESTS </h1>
</div>

<div class="shadow-none p-3 mb-5 bg-light rounded">
    <div class="jumbotron">
        <h3> HOBBIES/INTERESTS </h3>
        
        <hr class="my-4">
        <div class="card" style="width: 18rem;">
          <div class="card-header">
            
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"> Reading </li>
            <li class="list-group-item"> Keeping Up with Political Events </li>
            <li class="list-group-item"> Watching Movies </li>
            
          </ul>
        </div>
      </div>  
</div>

{% endblock %}