{% extends 'resumes/base.html' %}

{% block content %}
<div class="jumbotron" >
    <h1 class="display-4" > SKILLS </h1>
</div>

<div class="shadow-none p-3 mb-5 bg-light rounded">
    <div class="jumbotron">
        <h3> SKILLS </h3>
        
        <hr class="my-4">
        <div class="card" style="width: 18rem;">
          <div class="card-header">
            
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"> Technical writing </li>
            <li class="list-group-item"> Presentation skills </li>
            <li class="list-group-item"> MATLAB programming </li>
            <li class="list-group-item"> Python Programming </li>
            <li class="list-group-item"> Communication skills </li>
            <li class="list-group-item"> Django programming </li>
            
          </ul>
        </div>
      </div>  
</div>

{% endblock %}